    <!-- Main Pages
    ################################################# -->

      <!-- Sidebar/Navbar
      ################################################# -->
      <sidebar></sidebar>

      <!-- Header
      ################################################# -->
      <header></header>
      <!-- Main Content
      ################################################# -->
      <div class="body-container container-fluid text-center">

        <div class="header hidden-md-down">
          <div class="row">
            <div class="col-lg-6 offset-lg-6">
              <div class="header__search">
                Search <i class="material-icons">search</i>
              </div>
              <div class="header__user">
                <a href="#">RichardJames<span class="caret"></span></a>
              </div>
            </div>
          </div>
        </div>

        <router-outlet></router-outlet>

      </div>

      <!-- Footer
      ################################################# -->
      <footer></footer>
