
        <!-- List Name -->
        <!-- ################################################# -->

          <div class="row no-gutters">
            <div class="col-md-6">
              <h2 class="list-title">{{listNameString}}</h2>
            </div>
            <div class="col-md-6">

              <div class="list-controls">
                <div class="list-controls__button" data-menu-id="customize">
                  <i class="icomoon-edit"></i><span class="hidden-md-down">Customize</span>
                </div>
                <div class="list-controls__button">
                  <i class="icomoon-bookmark"></i> <span class="hidden-md-down">Bookmark</span>
                </div>
                <div class="list-controls__button" data-menu-id="export">
                  <i class="icomoon-export"></i> <span class="hidden-md-down">Export</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row no-gutters">
            <div class="acc-table">
              <table class="acc-table__table">
                <thead>
                  <tr>
                    <th class="acc-table__table-header-top" data-required="true">Name</th>
                    <th class="acc-table__table-header-top title">Title</th>
                    <th class="acc-table__table-header-top">Type</th>
                    <th class="acc-table__table-header-top">Status</th>
                    <th class="acc-table__table-header-top" data-required="true">Requestor</th>
                    <th class="acc-table__table-header-top">Report To</th>
                    <th class="acc-table__table-header-top">Organization</th>
                    <th class="acc-table__table-header-top">Start Date</th>
                    <th class="acc-table__table-header-top">End Date</th>
                    <th class="acc-table__table-header-top">Positions Engaged</th>
                    <th class="acc-table__table-header-top">Positions Available</th>
                    <th class="acc-table__table-header-top">Pay Rate</th>
                    <th class="acc-table__table-header-top">Bill Rate</th>
                    <th class="acc-table__table-header-top">Created By</th>
                    <th class="acc-table__table-header-top">Created Date</th>
                    <th class="acc-table__table-header-top">Job Location</th>
                    <!-- HIDDEN CURRENCY COLUMN -->
                    <th class="acc-table__table-header-top currency">Currency</th>
                  </tr>
                  <tr>
                    <th class="acc-table__table-header-bottom" data-filter-type="search" ></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="search"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="available"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="available"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="search"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="date-range"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="date-range"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="cost-range"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="cost-range"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <!-- HIDDEN CURRENCY COLUMN -->
                    <th class="acc-table__table-header-bottom"></th>
                  </tr>
                </thead>

                <tbody>

                  <tr data-id="800">
                    <td class="mobile-max-width-col">800</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <!-- Templates for table paging and filters -->
