      <!-- Header
      ################################################# -->
      <div class="banner banner--state-collapse banner-system-maintenance hidden-md-down">
        <span class="banner__icon"><i class="material-icons">warning</i></span>
        <span class="banner__title">System Downtime Scheduled</span>
        &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <span class="banner__text">September 27, 2017 12:34 AM to 01:23 PM PT</span>
        <div class="banner__expand-icon">
          <i class="material-icons icon-expand">add</i>
          <i class="material-icons icon-collapse">remove</i>
        </div>
        <div class="banner__content">
          Acceleration VMS will be unavailable Saturday night from Sunday 12 am to 4 am PST for a security upgrade. If this disrupts any regularly scheduled processes for your team, please contact your Acceleration administrator as soon as possible to reschedule.
        </div>
      </div>