
        <!-- Data Content -->
        <!-- ################################################# -->
        <div class="header">
          <div class="row">

            <!-- To Do Hire -->
            <div class="dashboard__module dashboard__module--todos col-lg-6 text-left">
              <h1>To Do &ndash; Hire</h1>
              <div class="todos">
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">3</span>
                      <span class="todo__title">Approve Requisition</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">6</span>
                      <span class="todo__title">Manage Related Requisition</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">9</span>
                      <span class="todo__title">Approve Payment Schedule</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">12</span>
                      <span class="todo__title">Review Candidate</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">3</span>
                      <span class="todo__title">Negotiate Rate</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">6</span>
                      <span class="todo__title">Approve Engagement</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">9</span>
                      <span class="todo__title">Approve Project</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">12</span>
                      <span class="todo__title">Review Proposals</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">3</span>
                      <span class="todo__title">Approve Proposals</span>
                    </a>
                  </div>
              </div>
            </div>

            <!-- To Do Manage -->
            <div class="dashboard__module dashboard__module--todos col-lg-6 text-left">
              <h1>To Do &ndash; Manage</h1>
              <div class="todos">
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">6</span>
                      <span class="todo__title">Approve Extension / Rate Change</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">9</span>
                      <span class="todo__title">Approve Additional Expenses</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">12</span>
                      <span class="todo__title">Approve Renewal</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">3</span>
                      <span class="todo__title">Approve Project Task Completion</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">6</span>
                      <span class="todo__title">Manage Rejected Extension / Rate Change</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">9</span>
                      <span class="todo__title">Approve Timecard / Expense</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">12</span>
                      <span class="todo__title">Approve Additional Payment Schedule</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">3</span>
                      <span class="todo__title">Sign Contract</span>
                    </a>
                  </div>
                  <div class="todo todo--is-new">
                    <a href="#" class="todo__content">
                      <span class="todo__count">6</span>
                      <span class="todo__title">Complete Survey</span>
                    </a>
                  </div>
                  <div class="todo ">
                    <a href="#" class="todo__content">
                      <span class="todo__count">9</span>
                      <span class="todo__title">Pre-Approve Timecard / Expense</span>
                    </a>
                  </div>
              </div>
            </div>
          </div>

          <!-- Notifications -->
          <div class="row row--mobile-no-gutters">
            <div class="dashboard__module notifications col-md-12 text-left">
              <h1>Notifications</h1>
              <div class="list__container ">
                <div class="list__header">
                  <div class="header-sort name-desc" data-sort-dir="down">
                    <span>Column Title</span>
                  </div>
                  <div class="header-sort time">
                    <span>Date + Time</span>
                  </div>
                </div>
                <ul class="dashboard-list">
                    <li class="list-item list-item--is-new">
                      <div class="list-item__name-desc">
                        <div class="title">Lorem Ipsum Dolor</div>
                        <div>A Lorem ipsum dolor set amet ipsum dolor set amet</div>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-05-01T12:00:10-07:00">
                        May 01, 2017 @ 03:00 PM
                      </div>
                      <div class="end-icon del-btn">
                        <i class="material-icons">close</i>
                      </div>
                    </li>
                    <li class="list-item list-item--is-new">
                      <div class="list-item__name-desc">
                        <div class="title">Ablem Ipsum Dolor</div>
                        <div>B Lorem ipsum dolor set amet ipsum dolor set amet</div>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-05-10T12:00:10-07:00">
                        May 10, 2017 @ 03:00 PM
                      </div>
                      <div class="end-icon del-btn">
                        <i class="material-icons">close</i>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__name-desc">
                        <div class="title">Zablem Ipsum Dolor</div>
                        <div>F Lorem ipsum dolor set amet ipsum dolor set amet</div>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-05-31T12:00:10-07:00">
                        May 31, 2017 @ 03:00 PM
                      </div>
                      <div class="end-icon del-btn">
                        <i class="material-icons">close</i>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__name-desc">
                        <div class="title">Ipsum Dolor</div>
                        <div>E Lorem ipsum dolor set amet ipsum dolor set amet</div>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-06-01T12:00:10-07:00">
                        Jun 01, 2017 @ 03:00 PM
                      </div>
                      <div class="end-icon del-btn">
                        <i class="material-icons">close</i>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__name-desc">
                        <div class="title">Dolor</div>
                        <div>D Lorem ipsum dolor set amet ipsum dolor set amet</div>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-07-01T12:00:10-07:00">
                        Jul 01, 2017 @ 03:00 PM
                      </div>
                      <div class="end-icon del-btn">
                        <i class="material-icons">close</i>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__name-desc">
                        <div class="title">Lorem Lorem</div>
                        <div>C Lorem ipsum dolor set amet ipsum dolor set amet</div>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-10-01T12:00:10-07:00">
                        Oct 01, 2017 @ 03:00 PM
                      </div>
                      <div class="end-icon del-btn">
                        <i class="material-icons">close</i>
                      </div>
                    </li>
                  <li class="list-item list-item--empty">You're all caught up</li>
                </ul>
                <div class="list__count hidden-lg-up">
                  <span class="list__count-current">1</span> /
                  <span class="list__count-total">6</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Interviews -->
          <div class="row row--mobile-no-gutters">
            <div class="dashboard__module interviews col-md-12 text-left">
              <h1>Interviews</h1>
              <div class="list__container">
                <div class="list__header" data-sort="alpha">
                  <div class="header-sort candidate" data-sort-dir="down">
                    <span>Candidate</span>
                  </div>
                  <div class="header-sort requisition">
                    <span>Requisition</span>
                  </div>
                  <div class="header-sort time">
                    <span>Date + Time</span>
                  </div>
                  <div class="header-sort status">
                    <span>Status</span>
                  </div>
                </div>

                <script type="text/javascript">function onAtcClick(e) { window.onCalIconClick(e) }</script>

                <ul class="dashboard-list">
                    <li class="list-item list-item--is-new">
                      <div class="list-item__candidate">
                        <span class="title">Alpha Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#01234 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-05-31T11:58:49.3320776-07:00">
                        <span>May 31, 2017 @ 02:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>confirmed</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Alpha Phrixos</var>
                              <var class="atc_description">Requisition: #01234 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>
                    <li class="list-item list-item--is-new">
                      <div class="list-item__candidate">
                        <span class="title">Beta Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#9367 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-06-30T11:58:49.3320776-07:00">
                        <span>Jun 30, 2017 @ 02:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>unknown</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Beta Phrixos</var>
                              <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__candidate">
                        <span class="title">Charlie Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#23456 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-07-31T11:58:49.3320776-07:00">
                        <span>Jul 31, 2017 @ 02:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>confirmed</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Charlie Phrixos</var>
                              <var class="atc_description">Requisition: #23456 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__candidate">
                        <span class="title">Danger Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#40 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-08-31T11:58:49.3320776-07:00">
                        <span>Aug 31, 2017 @ 02:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>pending</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Danger Phrixos</var>
                              <var class="atc_description">Requisition: #40 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__candidate">
                        <span class="title">Danger Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#40 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-09-11T11:58:49.3320776-07:00">
                        <span>Sep 11, 2017 @ 02:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>pending</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Danger Phrixos</var>
                              <var class="atc_description">Requisition: #40 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__candidate">
                        <span class="title">Danger Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#40 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-10-30T11:58:49.3320776-07:00">
                        <span>Oct 30, 2017 @ 02:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>pending</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Danger Phrixos</var>
                              <var class="atc_description">Requisition: #40 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__candidate">
                        <span class="title">Danger Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#40 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-11-13T11:58:49.3320776-07:00">
                        <span>Nov 13, 2017 @ 01:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>pending</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Danger Phrixos</var>
                              <var class="atc_description">Requisition: #40 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>
                    <li class="list-item ">
                      <div class="list-item__candidate">
                        <span class="title">Danger Phrixos</span>
                      </div>
                      <div class="list-item__requisition">
                        <span>#40 Lorem Ipsum</span>
                      </div>
                      <div class="list-item__time" data-sort-value="2017-12-31T11:58:49.3320776-07:00">
                        <span>Dec 31, 2017 @ 01:58 PM</span>
                      </div>
                      <div class="list-item__status">
                        <span>pending</span>
                      </div>
                      <div class="end-icon cal-btn">
                        <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                          <a class="atcb-link">
                            <i class="icomoon-calendar"></i>
                          </a>
                          <var class="atc_event">
                              <var class="atc_date_start">2017-06-30 13:30:00</var>
                              <var class="atc_date_end">2017-06-30 14:30:00</var>
                              <var class="atc_timezone"></var>
                              <var class="atc_title">Interview: Danger Phrixos</var>
                              <var class="atc_description">Requisition: #40 Lorem Ipsum</var>
                              <var class="atc_location">Interview Location</var>
                          </var>
                        </span>
                      </div>
                    </li>

                </ul>
                <div class="list__count hidden-lg-up">
                  <span class="list__count-current">1</span> /
                  <span class="list__count-total">8</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Calendar -->
          <div class="row row--mobile-no-gutters">
            <div class="dashboard__module calendar col-md-12 text-left">

              <div class="calendar-select is-desktop">
                <select class="calendar-month-select mdb-select">
                  <option value="" disabled selected></option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>

              <div class="calendar-select month is-mobile">
                <select class="calendar-month-select">
                  <option value="" disabled selected></option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <span class="caret"></span>
              </div>

              <div class="calendar-select is-desktop">
                <select class="calendar-year-select mdb-select">
                  <option value="" disabled selected></option>
                  <option value="1">2015</option>
                  <option value="2">2016</option>
                  <option value="3">2017</option>
                  <option value="4">2018</option>
                  <option value="5">2019</option>
                  <option value="6">2020</option>
                  <option value="7">2021</option>
                </select>
              </div>

              <div class="calendar-select year is-mobile">
                <select class="calendar-year-select">
                  <option value="" disabled selected></option>
                  <option value="1">2015</option>
                  <option value="2">2016</option>
                  <option value="3">2017</option>
                  <option value="4">2018</option>
                  <option value="5">2019</option>
                  <option value="6">2020</option>
                  <option value="7">2021</option>
                </select>
                <span class="caret"></span>
              </div>

              <div id="dashboard-calendar">
                <div class="calendar-container">
                  <div id="clndr-grid" class="clndr-grid">
                    <!-- will get day's events from dashboard-calendar-template-->
                  </div>
                  <div id="clndr-day" class="list__container">
                    <!-- will get day's events from single-day-template -->
                  </div>
                  <!-- extra calendars used for sliding between months, never visible -->
                  <div id="clndr-last-month-grid" class="hidden-cal-grid"></div>
                </div>
              </div>

              <script id="single-day-template" type="text/template">
                <div class="list__header">
                  <span><%= date %></span>
                </div>
                <% if (events.length) { %>
                  <ul class="dashboard-list">
                    <% _.each(events, function (event) { %>
                      <li class="list-item">
                        <div class="event-type"><%= event.eventType %></div>
                        <div class="event-name title"><%= event.name %></div>
                        <div class="event-time"><%= event.time %></div>
                      </li>
                    <% }); %>
                  </ul>
                <% } else { %>
                  <div class="no-events"> You have no events on this date.</div>
                <% }; %>
              </script>

              <script id="dashboard-calendar-template" type="text/template">
                <div class="days-of-the-week">
                <% _.each(daysOfTheWeek, function (day) { %>
                  <div class="header-day"><%= day %></div>
                <% }); %>
                </div>
                <div class="days">
                  <div class="week">
                  <% _.each(days, function (day, index) { var closeWeek = (index + 1) % 7 === 0 && index < 41 %>
                    <div class="<%= day.classes %>">
                      <div class="day-square">
                        <span class="day-text"><%= day.day %></span>
                      </div>
                    </div>
                  <% if (closeWeek) { %>
                  </div><div class="week">
                  <% } %>
                  <% }); %>
                  </div>
                </div>
              </script>

            </div>
          </div>

          <!-- Utilities/Documents -->
          <div class="row row--mobile-no-gutters">
            <div class="dashboard__module utilities col-lg-6 text-left">
              <h1>Utilities</h1>
              <div class="list__container">
                <div class="list__header">
                  <div class="header-sort" data-sort-dir="down">
                    <span data-sort-text="down">Alphabetical (A &mdash; Z)</span>
                    <span data-sort-text="up" style="display: none">Alphabetical (Z &mdash; A)</span>
                  </div>
                </div>
                <ul class="dashboard-list">
                    <li class="list-item list-item--is-new">
                      <span class="title">ACA Survey Response</span>
                    </li>
                    <li class="list-item list-item--is-new">
                      <span class="title">Dynamic Letter</span>
                    </li>
                    <li class="list-item ">
                      <span class="title">Purge Candidate Data</span>
                    </li>
                    <li class="list-item ">
                      <span class="title">Time Clock Data Upload</span>
                    </li>
                    <li class="list-item list-item--is-new">
                      <span class="title">Edit Vendor Location</span>
                    </li>
                    <li class="list-item ">
                      <span class="title">Not Approved Timecards</span>
                    </li>
                </ul>
              </div>
            </div>

            <div class="dashboard__module documents col-lg-6 text-left">
              <h1>Documents</h1>
              <div class="list__container">
                <div class="list__header">
                  <div class="header-sort" data-sort-dir="down">
                    <span data-sort-text="down">Alphabetical (A &mdash; Z)</span>
                    <span data-sort-text="up" style="display: none">Alphabetical (Z &mdash; A)</span>
                  </div>
                </div>
                <ul class="dashboard-list">
                  <li class="list-item list-item--is-new">
                    <span class="title">Document A</span>
                  </li>
                  <li class="list-item list-item--is-new">
                    <span class="title">Document B</span>
                  </li>
                  <li class="list-item ">
                    <span class="title">Document C</span>
                  </li>
                  <li class="list-item ">
                    <span class="title">Document D</span>
                  </li>
                  <li class="list-item ">
                    <span class="title">Document E</span>
                  </li>
                  <li class="list-item ">
                    <span class="title">Document F</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
