	<!-- AppComponents Router
    ################################################# -->
    <!-- <body class="{{bodyRef}}"> -->
      
            <div class="dev-grid container-fluid">
              <div class="row">
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
                <div class="col-sm-1"><div class="content"></div></div>
              </div>
            </div>
      
            <!-- Page Load Progress -->
              <!-- <ng-progress
              [positionUsing]="'marginLeft'"
              [direction]="'leftToRightIncreased'"
              [color]="'#ffffff'"
              [trickleSpeed]="500"
              [thick]="true"
              [ease]="'easeInSine'"></ng-progress> -->
            <!-- Flash Messaging -->
            <!-- <flash-messages></flash-messages> -->
            <!-- Router Outlet -->
            <router-outlet></router-outlet>
      
          <!-- </body> -->
      