    <!-- <!-- Login
    ################################################# 
    <div class="main-container container-fluid">

      <!-- Header Content
	  ################################################# 
      <div class="page-login__header row">
        <div class="col-md-12">
          <div>
            <a href="/"><img src="./assets/img/accel-logo-off-white.svg" alt="AccelerationVMS"></a>
          </div>
          <div class="page-login__lang-select is-desktop">
            <select class="mdb-select">
              <option value="" disabled selected>English (USA)</option>
              <option value="1">English (USA)</option>
              <option value="2">Français (Canada)</option>
              <option value="3">Deutsch (Germany)</option>
              <option value="4">Español (Mexico)</option>
              <option value="5">한국어 (South Korea)</option>
            </select>
          </div>
        </div>
      </div> -->


      <!-- Body Content -->
	     <!-- ################################################# -->

       <!-- Forgot Username Resp -->
   	  <div class="row" style="margin-top: 12%; margin-bottom: 12%">
           <div class="page-login__body col-md-10">

   			<div class="row">
   		      <div class="page-login__welcome page-login__welcome--messaging col-md-5">
   		        <h1>Forgot Username<br/>Response</h1>
              <p class="page-login__welcome-body">
  		          <a routerLink="/roleselect"><i class="material-icons">arrow_back</i> Back to Login</a>
  		        </p>
   		      </div>

   		      <div class="page-login__messaging col-md-6 offset-md-1">
   		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in.</p>
   		        <p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
   		      </div>

   		      <div class="page-login__lang-select is-mobile">
   		        <select>
   		          <option value="1" selected>English (USA)</option>
   		          <option value="2">Français (Canada)</option>
   		          <option value="3">Deutsch (Germany)</option>
   		          <option value="4">Español (Mexico)</option>
   		          <option value="5">한국어 (South Korea)</option>
   		        </select>
   		        <span class="caret"></span>
   		      </div>
   		    </div>

   	  	</div>
   	  </div>

