
        <!-- Job Record Hire -->
        <!-- ################################################# -->

          <div>
            <h2 class="page-job-record__title">Light Industrial I : 5230</h2>
            <div class="page-job-record__status page-job-record__status--open">Open</div>
          </div>

          <div class="page-job-record__job-tabs">
            <div class="tabs">
              <div class="tab">Job Details</div>
              <div class="tab active">Hire</div>
              <div class="tab">Manage</div>
            </div>
          </div>
          <div class="page-job-record__candidate-tabs">
            <div class="tabs">
              <!-- tabs created by clicking Review Candidates first column links -->
            </div>
          </div>

          <div class="page-job-record__tab-content">

            <div class="page-job-record__table-dropdown page-job-record__table-dropdown--is-new">
              <div class="page-job-record__table-select is-desktop">
                <select class="mdb-select">
                  <option value="" disabled selected>Review Candidates</option>
                  <option value="1">Review Candidates</option>
                  <option value="2">Compare (2 of 5)</option>
                  <option value="3">Rejected</option>
                </select>
              </div>
              <div class="page-job-record__table-select is-mobile">
                <select>
                  <option value="" disabled selected>Review Candidates</option>
                  <option value="1">Review Candidates</option>
                  <option value="2">Compare (2 of 5)</option>
                  <option value="3">Rejected</option>
                </select>
                <span class="caret"></span>
              </div>
            </div>

            <div class="acc-table table1">
              <div class="acc-table__is-new-dots"></div>
              <table class="acc-table__table">
                <thead>
                  <tr>
                    <th class="acc-table__table-header-top">Candidate</th>
                    <th class="acc-table__table-header-top">Engage</th>
                    <th class="acc-table__table-header-top">ID</th>
                    <!-- <th class="acc-table__table-header-top">Profile</th> -->
                    <th class="acc-table__table-header-top">Resume Match</th>
                    <th class="acc-table__table-header-top">Skills Match</th>
                    <th class="acc-table__table-header-top">Rating</th>
                    <th class="acc-table__table-header-top">Shortlist</th>
                    <th class="acc-table__table-header-top">Compare</th>
                    <th class="acc-table__table-header-top">Interview Date and Time</th>
                    <th class="acc-table__table-header-top">Alternate Date and Time</th>
                    <th class="acc-table__table-header-top">Format</th>
                    <th class="acc-table__table-header-top">Interview</th>
                    <th class="acc-table__table-header-top">Bill Rate</th>
                    <th class="acc-table__table-header-top">Proposed Bill Rate</th>
                    <th class="acc-table__table-header-top">Total Cost</th>
                    <th class="acc-table__table-header-top">Negotiate</th>
                    <th class="acc-table__table-header-top">Vendor</th>
                    <th class="acc-table__table-header-top">Submitted</th>
                    <!-- HIDDEN COLUMNS-->
                    <!-- <th class="acc-table__table-header-top currency">Currency</th>
                    <th class="acc-table__table-header-top new">New</th> -->
                  </tr>
                  <tr>
                    <th class="acc-table__table-header-bottom" data-filter-type="search"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="search"></th>
                    <!-- <th class="acc-table__table-header-bottom"></th> -->
                    <th class="acc-table__table-header-bottom" data-filter-type="slider"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="slider"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="stars"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="available"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="date-range"></th>
                    <th class="acc-table__table-header-bottom" data-filter-type="date-range"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th>
                    <!-- HIDDEN COLUMNS-->
                    <!-- <th class="acc-table__table-header-bottom"></th>
                    <th class="acc-table__table-header-bottom"></th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <!-- _.SCRIPT TEMPLATES -->
